body {
    background-color: #fff5e6; /* Couleur de fond plus claire */
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.title {
    color: #ff8c00; /* Couleur orange pour le titre */
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.video-options, .controls {
    margin-bottom: 20px;
}

.control-button {
    background-color: #ff8c00; /* Couleur orange pour les boutons */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.control-button:hover {
    background-color: #ff4500; /* Couleur orange foncé pour le survol */
}

.play-button::before {
    content: '▶️ ';
}

.pause-button::before {
    content: '⏸️ ';
}

.screenshot-button::before {
    content: '📸 ';
}

.webcam-output {
    border: 5px solid #ff8c00; /* Bordure orange pour la vidéo */
    border-radius: 12px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .title {
        font-size: 2.5em;
    }

    .control-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    .video-options, .controls {
        width: 100%;
        text-align: center;
    }

    .webcam-output {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2em;
    }

    .control-button {
        padding: 8px 16px;
        font-size: 12px;
    }

    .container {
        width: 100%;
    }

    .video-options, .controls {
        width: 100%;
        text-align: center;
    }

    .webcam-output {
        width: 100%;
        height: auto;
    }
}